/*
Theme Name: Ilve Listings Child
Theme URI: 
Description: Ilve Listings Child Theme
Author: Feudy
Author URI: 
Template: ilve-listings
Version: 1.0.0
License: Ilve Studio
License URI: 
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain: ilve-listings-child
*/

@import url("../ilve-listings/style.css");

/*Define forms */

.presentation {
	background: #b3ffb3;
}
.full_screen {
	width: 100%;
	height: 500px;
	clear: both;
	display: block;
}
.rotatorpic {
	display: none;
	font-size: xx-large;
	padding: 20px;
}

.div_add_site_button {
	display: block;
}

.head_site_button {
	padding: 4px;
	margin-left: 3px;
	height: 50px;
	width: 150px;

}

.div_add_site_input {
	margin-left: 80px;
	margin-top: 3px;
}

.add_site_input_label {
	float: left;
	width: 75px;
	height: 35px;
}



.form_input_button {
	position: relative;
	clear: both;
	padding: 10px;
	margin-left: 75px;
	width: 550px;
}

.div_add_site_input_button {
/*	margin-left: 60px;
*/	width: 120px;
	float: left;
	display: inline-block;
	padding: 5px;
	margin: 2px;
}

.add_site_input_button {
	width: 110px;
	height: 35px;

}

.add_site_input_row {
	width: 480px;
	float: left;
	display: inline-block;
}
.add_site_input {
	float: right;
	width: 400px;
	height: 35px;
}

/*////delete
*/
.add_site_input2 {
	float: right;
	width: 400px;
}

/*Please add any css refered to search options here
*/
#existing_sites{
	/*width: 100%;
	*/
	width: screen.width;
	height: 500px;
	display: flex;
	flex-direction: row; /* | row-reverse | column | column-reverse;*/
	flex-wrap: wrap; /*| nowrap | wrap-reverse;*/
	justify-content: flex-start; /*| flex-end | center | space-between | space-around;*/
	align-items: flex-start; /* | flex-end | center | baseline | stretch;*/
	align-content: flex-start; /*| flex-end | center | space-between | space-around | stretch;*/
	overflow-y: scroll;
	}
.clickable_row{
	/*width: 50%;*/
	margin: 9px;
	background: #82d7e3;
	width: 400px;
	height: 200px;
	padding-left: 20px;
	/*padding-top: 15px;
	/*font-weight: bold;*/
	color: black;
	border-radius: 5px;
}

#show_sites_container{
	display: none;
}

.show_sites_info {
	margin-bottom: 0px;
}

.show_more {
	margin-top: 10px;
	display: inline-block;
	width: 170px;
	text-align: center;
	border-radius: 5px;
	height: 35px;
	padding-top: 3px;
	margin-left: 5px;

}
.green {
		background-color: #00FF7F;
}
.yellow {
		background-color: #F8F071;
}
.red {
		background-color: #F44B11;
}

.sitename_info {
	font-size: 19px;
}


/*Please add any css refered to add new site options here
*/
.new_site_form_container{
	background: #d5f2f6;
	height: 550px;
	display: flex;
	flex-direction: row; /* | row-reverse | column | column-reverse;*/
	flex-wrap: wrap; /*| nowrap | wrap-reverse;*/
	justify-content: center; /* space-between;  /*flex-start; /*| flex-end | center | space-between | space-around;*/
	align-items:  flex-start; /* | flex-end | center | baseline | stretch;*/
	align-content: flex-start; /*| flex-end | center | space-between | space-around | stretch;*/
	display: none;
}

.add_form {
	width: 33%;
	padding: 5px;
	margin-left: 30px;
	margin-top: 23px;
}

.search_sites_container{
	background: #d5f2f6;
	height: 500px;
}

.table_head{
	display: inline-block;
	padding: 5px;
}

.head_description{
	width: 100%;
}
.description_container{
	width: 100%;
	text-align: left;
}
.solve_issues_container{
	width:99%;
	height: 800px;
	background: #A5F2F3;
	clear: both;
	position: fixed;
	overflow: hidden;
	margin-top: 2%;
	margin-left: 0.5%;
}
.listings_description{
	width: 100%;
	height: 700px;
	overflow: hidden;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	padding: 5px;
}

.button_save{
	width:50%;
	display: inline-block;
	margin-top: 1px;
	background: green;
	height: 7%;
	color: white;
	font-weight: bold;
}
.button_cancel{
	width:50%;
	display: inline-block;
	margin-top: 1px;
	background: red;
	height: 7%;
	color: white;
	font-weight: bold;
}


.listing_detail{
	width: 55%;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
	white-space: nowrap;
}

.issue_detail{
	width: 10%;
	text-align: center;
}

.status_detail{
	width: 15%;
	text-align: center;
}

.lastupdate_detail{
	width: 15%;
	text-align: left;
}
.listing_row{
	margin-top: 3px;
}
.table_head.listing_detail{
	overflow:	unset;
}
.show_issues_container{
	margin-top: 3px;
	background: #A5F2F3;
	width: 1%;
	height: 500px;
	padding: 5px;
	border-radius: 5px;
	padding-bottom: 20px;
	visibility: hidden;
	overflow: hidden;
	display: block;
	flex-direction: row; /* | row-reverse | column | column-reverse;*/
	flex-wrap: wrap; /*| nowrap | wrap-reverse;*/
	justify-content: flex-start; /*| flex-end | center | space-between | space-around;*/
	align-items: flex-start; /* | flex-end | center | baseline | stretch;*/
	align-content: flex-start; /*| flex-end | center | space-between | space-around | stretch;*/

}
#issues_description{
	float: left;
	max-width: 100%;
	max-height: 98%;
	background-color: #d2f9f9;
	border-radius: 3px;
	border: 3px solid #62e8ea;
	overflow-y: scroll;
	display: flex;
	flex-direction: row; /* | row-reverse | column | column-reverse;*/
	flex-wrap: wrap; /*| nowrap | wrap-reverse;*/
	justify-content: flex-start; /*| flex-end | center | space-between | space-around;*/
	align-items: flex-start; /* | flex-end | center | baseline | stretch;*/
	align-content: flex-start; /*| flex-end | center | space-between | space-around | stretch;*/
}

@-webkit-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@-o-keyframes flexGrow {
  to {
    flex: 1;
  }
}
@keyframes flexGrow {
  to {
    flex: 1;
  }
}

@-webkit-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@-o-keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}
@keyframes flexShrink {
  to {
    flex: .01;
    flex: .00001;
  }
}

.show_issues_container > .listing {
	width: 68%;
	padding-left: 5px;
	padding-bottom: 5px;
	float: left;
}
.show_issues_container > .issue {
	width: 30%;
	padding-bottom: 5px;
	padding-left: 15px;
	float: left;
}

#issues_description > .listing {
	width: 70%;
	padding-left: 5px;
}

#issues_description .issue {
	width: 30%;
	padding-left: 5px;
	padding-right: 15px;
}

.clickable_data {
	padding-bottom: 3px; 
	padding-top: 5px;
	padding-right: 5px;
	border: 0;
	box-shadow: 0 12px 10px -14px #62e8ea inset;
	/*#308b8b*/
	text-overflow: ellipsis;
	overflow: hidden;
	/*white-space: pre-wrap;      /* CSS3 */   
	white-space:	nowrap;      /* CSS3 */   
   	/*white-space: -moz-pre-wrap; /* Firefox */    
   	/*white-space: -pre-wrap;     /* Opera <7 */   
   	/*white-space: -o-pre-wrap;   /* Opera 7 */    
   	/*word-wrap: break-word;      /* IE */
	/*
	border-top: 1px solid red;*/
}

/*End of add listings*/

/* Pop Ups*/
#cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-color: #000;*/
    background-color: #124b87 ;
    display: none;
    z-index: 10000;
    text-align: center;
}

#urgent {
	width: 200px;
    height: 200px;
    margin: 10px auto; 
    border: 1px solid #333;
    /*background-color: #F1FAC0;*/
    background-color: #F8F071;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 10001;
    display: none;
    margin-top: 25%;
    text-align: left;
}

#issueupdatedone {
	position: 	relative;	
    z-index: 10002;
	width: 100%;
	text-align: center;
	border: 2px solid #124b87 ;
	border-radius: 5px;
	color: black;
}

.setIssueCheck{
	padding: 1px;
	color: black;
}

.nodecoration {
	list-style-type: none;
	margin: 0;
}

.add_input {
	width: 350px;
}

/*End of Pop Ups*/


div[data-status="4"]{
	color: red;
}
div[data-status="3"]{
	color: green;
}
div[data-status="2"]{
	color: yellow;
	background-color:blue;
}




.buttontests{
	width:50px;/*
	display: inline-block;*/
	background: green;
	height: 35px;
	color: white;
	font-weight: bold;
}


/*CPR Reader Task

*/

.select_Header{
	width: 155px;
	height: 50px;
	float: left;
}

.select_header_input{
	width: 145px;
	height: 20px;
}

.separatordiv{
	clear: both;
	margin-bottom: 15px;
}















